# Node
node_modules/
app/.next/
app/out/

# Terraform local state & cache
**/.terraform/
**/.terraform.tfstate*
**/terraform.tfstate*
**/*.tfstate.backup

# Logs
*.log
# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
crash.log
crash.*.log
.terraform.lock.hcl
*.docx
